
body{
	background-image: url("./img/fondo-sm.png");
	background-repeat: repeat;
	background-size:100%;
	overflow-x: hidden;
}

nav{
	color:#D36580;
	background-color: transparent;
	box-shadow: none;
	padding:5%;
	font-family: Futura;
}
nav .brand-logo{
	font-family: Futura-bold;
	font-size: 1.5em;
}
nav ul a,nav a, nav .brand-logo{color:#D36580;}

footer{
	background-color: #D36580;
	color: #FFF;
	padding: 3em;
	font-size: 1.1em;;
}
footer ul{
	margin: 0;
	display: flex;
	justify-content: space-around;
}
footer p:first-child{
	font-family: Futura-bold;
	text-align: center;
	letter-spacing: 3px;
	font-size: 1.5em;
}
footer ul li{
	display: inline-flex;
	align-items: center;
}
footer ul li img{
	height: 20px;
	margin-right: 15px;
}

footer nav ul a{
	color:#fff
}
footer nav a{
	color:#fff;
}
footer .brand-logo{
	color:#fff;
	font-size: 1.5em;
}
footer ul li img:last-child{height: 15px;}
.row-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.row-flex-rz{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex{
	display: flex;
	align-items: center;
}
.row-flex-baseline{
    display: flex;
    align-items: baseline;
}
/*Fonts*/
@font-face {
	font-family: Autografy;
	src:url('./fonts/Autography.otf');
	font-display: swap;
}
@font-face {
	font-family: Futura;
	src: url('./fonts/Futura.ttc');
}
@font-face {
	font-family: Futura-Bold;
	src: url('./fonts/Futura Bold.otf');
}
@font-face {
	font-family: Quant;
	src: url('./fonts/Quant-Regular.otf');
}
@font-face {
	font-family: Queen;
	src: url('./fonts/QueenVictoria-Regular.otf');
}
/*Typo*/
h1{
	font-family: Futura-Bold;
	letter-spacing: .2em;
	font-size: 7rem;
	margin-top:.8em;
}
.title{
	font-family: Futura-Bold;
	letter-spacing: .2em;
	font-size: 5rem;
}
.title1{
	font-family: Autografy;
	position: absolute;
	top: -35%;
	font-size: 5.5em;
	font-weight: 100;
}
.title-cat-typo a{color:#000}
@media all and (min-width: 0px) and (max-width: 352px){
    .title1{
		font-size: 3.5em;
		font-size: 3em;
		top: -12%;
	}
}
@media all and (min-width: 353px) and (max-width: 367px){
    .title1{
		font-size: 3.5em;
		top: -17%;
		right: 6%;
	}
}
@media all and (min-width: 368px) and (max-width: 429px){
    .title1{
		font-size: 4em;
		top: -20%;
		right: 7%;
	}
}
@media all and (min-width: 429px) and (max-width: 469px){
    .title1{
		font-size: 4em;
		top: -24%;
    	right: 16%;
	}
}
@media all and (min-width: 470px) and (max-width: 510px){
    .title1{
		font-size: 4em;
		top: -24%;
		right: 14%;
	}
}
@media all and (min-width: 511px) and (max-width: 991px){
    .title1{
		font-size: 5em;
		top: -34%;
		right: 13%;
	}
}
.title-branding{
	font-family: 'Autografy';
	font-size: 13em;
	position: absolute;
	right: -54%;
	color: rgba(211, 101, 128, .2);
	z-index: -1;
}
.title-mural{
	font-family: 'Autografy';
	font-size: 13em;
	position: absolute;
	top: 0px;
	left: -97%;
	color: rgba(215, 133, 76,.2);
	z-index: -1;
}
.title-typo{
	font-family: 'Autografy';
	font-size: 13em;
	position: absolute;
	top: 0px;
	left: 31%;
	color: rgba(128, 175, 175,.3);
	z-index: -1;
}
.title-typo-1{
	font-family: 'Autografy';
    font-size: 10em;
    position: absolute;
    top: -191%;
    left: 53%;
    color: rgba(128, 175, 175,.3);
    z-index: -1;
}
.title-typo-2{
	font-family: 'Autografy';
    font-size: 10em;
    position: absolute;
    bottom: -70%;
    left: -48%;
    color: rgba(128, 175, 175,.3);
    z-index: -1;
}
.title-illu{
	font-family: 'Autografy';
	font-size: 13em;
	position: absolute;
	top: 0px;
	right: 31%;
	color: rgba(211, 101, 128, .2);
	z-index: -1;
}
.title-collage{
	font-family: 'Autografy';
	font-size: 10em;
	position: absolute;
	top: -78%;
	left: -33%;
	color: rgba(215, 133, 76,.2);
	z-index: -1;
	margin: 0;
}
.title-art{
	font-family: 'Autografy';
	font-size: 10em;
	position: absolute;
	top: -78%;
	right: -20%;
	color: rgba(215, 133, 76,.2);
	z-index: -1;
	margin: 0;
}
.title-editorial{
	font-family: 'Autografy';
	font-size: 9em;
	position: absolute;
	top: 0px;
	left: -136%;
	color: rgba(128, 175, 175,.3);
	z-index: -1;
}
.title-cat{
	font-family: 'Futura-Bold';
	letter-spacing: .1em;
}
.text-center{text-align:center;}
.text-right{text-align: right;}

.title-cat-typo{
	text-align: left;
	font-family: 'Futura-Bold';
	letter-spacing: .1em;
	margin-top: 2em;
	}

.vertical-text{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	display: table-cell;
	line-height:40px;
}
.text-box-vertical{
	position: absolute;
	left: -10%;
	bottom: 20%;
} 

				/*TYPO*/
				.projects-title{
					font-family: Autografy;
					font-size: 5em;
					position: absolute;
					top: 14%;
					right: 43%;
				}
				
				.intro-p{
					font-family: 'Futura';
					margin: auto;
					padding: 5em 30%;
				}
				.subtitle{
					font-family: 'Futura-Bold';
					font-size: 2.1em;
					letter-spacing: 4px;
				}
				.img-t-1{
					width: 60%;
					position: absolute;
					left: 0;
				}
				.img-t-2{
					width: 46.11%;
					position: absolute;
					right: 0;
					top: -185%;
					height: 300px;
					object-fit: cover;
				}
				.abc-img{
					position: absolute;
					top: -38%;
					width: 40%;
					padding: 2em;
				}
				.q-ex{
					font-family: 'Queen';
					font-size: 4em;
					margin: 0;
				}
				
				.t-ex{
					text-align: center;
					font-family: 'Queen';
					font-size: 2.3em;
					margin: 0;
				}
				.rotate-9{
					rotate: -9deg;
				}
				.figure1{
					width: 110px;
					margin-left: -20em;
					margin-bottom: 0.5em;
					rotate: 10deg;
				}
				.figure2{
					float: right;
					width: 110px;
					margin-left: 4em;
					margin-bottom: 0.5em;
					rotate: 189deg;
				}
				.ex-letters{
					font-family: 'Queen';
					margin: auto;
					font-size: 2em;
					letter-spacing: -2px;
				}
				.bg-2-container{
					background-color: rgb(128, 175, 175,.4);
					padding: 2em 0;
    				text-align: center;
				}
				.y-ex{
					font-family: 'Quant';
					font-size: 15em;
					margin: 0;
					text-align: right;
					line-height: 200px;
				}
				.num-ex{
					font-family: 'Quant';
					font-size: 4em;
					text-align: center;
					margin: 0;
					line-height: 100px;
				}
				.title-serif{
					font-family: 'Autografy';
					font-size: 10em;
					position: absolute;
					bottom: -40%;
					right: -15%;
					color: rgba(128, 175, 175,.3);
					z-index: -1;
					margin: 0;
				}
				.pro-title{
					width: 20%;
					padding-bottom: 2em;
				}
				@media all and (min-width:0px) and (max-width: 800px){
					.title-typo-1{
						font-size: 5em;
						top: -57%;
						left: 36%;
					}
					.title{
						font-size: 3.5em;
					}
					.pro-title{padding-bottom:1em;}
					.row-flex-baseline{
						display: block;
					}
				}   
				
				@media all and (min-width:600px) and (max-width: 685px){
					.img-t-2{
						top: -252%;
						height: 199px;
					}
					.q-ex{font-size: 2.5em;}
					
				}
				@media all and (min-width:686px) and (max-width: 897px){
					.img-t-2{
						top: -259%;
						height: 220px;
					}
					.q-ex{font-size: 3em;}
				}
				@media all and (min-width:898px) and (max-width: 1129px){
					.img-t-2{
						top:-252%;
						height: 250px;
					}
					.q-ex{font-size: 3.5em;}
				}
				.abc-small{
					width: 60%;
					margin: auto;
				}
				.img-ty{
					height: 250px;
    				object-fit: cover;
				}
				

.futura{font-family: Futura;}
.futura-bold{font-family: Futura-Bold;}
.quant{font-family: Quant;}

.fz-1-2{font-size: 1.2em;}
.fz-2{font-size:2em;}
.fz-2-5{font-size:2.5em;}
.fz-2-7{font-size: 2.7em;}
.fz-3{font-size: 3em;}

.lh-1{line-height: 1em;;}
/*Shapes*/
.box1{
	position: absolute;
	top: 35%;
	width: 500px;
	background-color: rgba(128, 175, 175, .45);
	padding: 3em;
	font-family: 'Futura';
	font-weight: 900;
	z-index: -1;
}
hr{
	border: 2px solid #FFF;
	width: 100px;
	margin: initial;
}
.ball1{
	position: absolute;
    left: -42%;
    top: 2%;
	z-index: -2;
}
.ball2{
	position: absolute;
    right: -199%;
    top: -19%;
	z-index: -1;
}
.ball3{
	position: absolute;
    left: -38%;
    z-index: -1;
    top: -23%;
}
.ball4{
	position: absolute;
    right: -196%;
    top: -410%;
	z-index: -1;
}
.ball5{
	position: absolute;
    left: -180%;
    top: -12%;
	z-index: -1;
}
.ball6{
	position: absolute;
    bottom: -10%;
    right: -47%;
    z-index: -1;
}
.ball7{
	position: absolute;
    left: -189%;
    top: -44%;
    z-index: -1;
}
.square-1{
	position: absolute;
	border: 3px solid rgba(211, 101, 128, .5);
	height: 64%;
	width: 67%;
	top: -1.75rem;
	left: -1rem;
	z-index: -1;
}
.square-2{
	position: absolute;
	border: 3px solid rgba(215, 133, 76,.5);
	height: 57%;
	width: 46%;
	top: -1.75rem;
	right: -0.75rem;
	z-index: -1;
}
.square-3{
	position: absolute;
	border: 3px solid rgba(128, 175, 175,.9);
	height: 104%;
	width: 75%;
	top: -1.75rem;
	left: 3rem;
	z-index: -1;
}
.square-4{
	position: absolute;
	border: 3px solid rgba(211, 101, 128, .5);
	height: 77%;
	width: 59%;
	top: -1.75rem;
	right: 15%;
	z-index: -1;
}
.square-5{
	position: absolute;
	border: 3px solid rgba(215, 133, 76,.9);
	height: 73%;
	width: 70%;
	top: -0.75rem;
	left: -0.5em;
	z-index: -1;
}
.square-6{
	position: absolute;
	border: 3px solid rgba(128, 175, 175,.9);
	height: 211px;
	width: 233px;
	top: -1.75rem;
	right: -1rem;
	z-index: -1;
}
/*Media*/
@media all and (min-width: 0px) and (max-width: 350px){
	h1{
		font-size: 3rem;
	}
	
}
@media all and (min-width: 351px) and (max-width: 601px){
	h1{
		font-size: 4rem;
	}
	
}


@media all and (min-width: 706px) and (max-width: 1300px){
	.box1{
		top:50%;
		right:-10%;
	}
	
}

@media all and (min-width: 601px) and (max-width: 705px){
	h1{font-size:6rem;}
	.box1{
		top:47%;
	}
}

@media all and (min-width: 511px) and (max-width: 600px){
	h1{font-size: 5rem;}
	.box1{
		top:47%;
	}
}

@media all and (min-width: 470px) and (max-width: 510px){
	h1{font-size: 5rem;}
	.box1{
		background-color: rgba(128, 175, 175, .45);
		padding: 3em;
		font-family: 'Futura';
		font-weight: 900;
		width: 100%;
		position: relative;
	}
}
@media all and (min-width: 0px) and (max-width: 369px){

	.box1{
		margin-top:.5em;

	}

}
@media all and (min-width: 370px) and (max-width: 469px){

	.box1{
		width: 100%;
		margin-top:4em;
		top:28%;
	}

}
@media all and (min-width: 0px) and (max-width: 469px){

	.box1{
		width: 100%;
	}
	.title-cat-typo{margin-top: .5em;}
	.m1-rz{margin:1em 0;}
}
@media all and (min-width: 0px) and (max-width: 611px){

	footer ul{display:grid;}
	footer ul li{margin-top: 2em;}
	nav .brand-logo{font-size: 1em;}
	.justify-center-rz{justify-content: center;}
}





/*Margin-padding*/
.m2--5{margin: 2em 0.5em 0 0}
.mt-4{margin:4em 0 0;}

.mb-130{margin-bottom:130px;}
.mb-5{margin-bottom:5em;}
.mb-2{margin-bottom:2em;}
.mb-0{margin-bottom:0;}
.mb-1-rz{margin-bottom: 0em;}
.mb-2-rz{margin-bottom: 0em;}
.mb-4-rz{margin-bottom: 0em;}
.mt--7{margin-top: .7em;}
.mt-7-rz{margin-top:7em}
.mt-4{margin-top: 4em;}
.mt-4-rz{margin-top: 4em;}
.mt-4-r2{margin-top: 0;}
.mt-0{margin-top: 0;}
.m-auto-rz{margin:auto;}

@media all and (min-width: 0px) and (max-width: 600px){
	.mt-4-rz{margin-top: 0;}
}
@media all and (min-width: 0px) and (max-width: 600px){
	.mt-4-r2{margin-top: 4em;}
}
.m-3{margin:3em 0}

.mt-2{margin-top: 2em;}
.mt-10{margin-top: 10%}
.m-0{margin: 0;}

.p-3{padding: 3em;}
.p-3-0{padding: 3em 0;}
.p-0-4{padding:0 4em;}
.p-10{padding: 10px;}
.p-0-4-rz{padding:0 4em;}
			@media all and (min-width:0px) and (max-width: 599px){
				.q-ex{font-size: 2.3em;}
				.flex-rz{
					display: flex;
					align-items: center;
				}
				.row-flex-rz{
					display: block;
				}
				.figure1{
					margin-left: -20em;
					margin-top: 2em;
				}
				.p-0-4-rz{padding: 0;}
			} 
/*Width-height*/
.h850{height: 850px;}
.h700{height: 700px;}
.h600{height: 600px;}
.h600-rz{height: 600px;}
@media all and (min-width: 0px) and (max-width: 600px){
	.h600-rz{
		height: 300px;
	}
	.y-ex{text-align: center;}
	.mb2-rz{margin-bottom:2em}
}
.h500{height: 500px;}
.h450{height: 450px;}
.h450-rz{height: 450px;}
@media all and (min-width: 0px) and (max-width: 469px){
	.h450-rz{
		height: 350px;
	}
}
.h400{height: 400px;}
.h300{height: 300px;}
.h300-rz{height: 300px;}
@media all and (min-width: 0px) and (max-width: 469px){
	.h300-rz{
		height: 240px;
	}
}
.h250{height: 250px;}
.h230{height: 230px;}
.h200{height: 200px;}
.h100{height: 100px;}

.w-100{width: 100%;}
.w-100-rz{width: 100%;}
@media all and (min-width: 0px) and (max-width: 469px){
	.w-100-rz{
		width: 80%;
	}
}
.w-90{width: 90%;}
.w99{width: 99%;}
.w80{width: 80%;}
.w-70{width: 70%;}
.w-40{width: 40%;}
.w-30{width: 30%;}

/*Position*/
.relative{position: relative;}
.float-right{float:right;}


.justify{text-align: justify;}
.obj-cover{object-fit: cover;}

@media all and (min-width: 0px) and (max-width: 700px){
	
	.fz-2-5{font-size: 2em;}
	.fz-2-7{font-size: 2.4em;}
	.mb-4rz{margin-bottom: 4em;}
	.m2--5{margin:0 0 4em 0;}
	.mt-7-rz{margin-top:0}
	.h500{height: auto;}
	/*.mb-130{margin-bottom: 12em;}
	.title-cat-typo{
		margin-top: 4.5em;
		margin-bottom: 4em;
	}*/

}
@media all and (min-width: 0px) and (max-width: 600px){
	.text-box-vertical {
		left: -2%;
		bottom: 40%;
		
	}
}
@media all and (min-width: 601px) and (max-width: 701px){
	.text-box-vertical {
		left: -13%;
		bottom: 40%;
		
	}
}

.bg-light-1{background-color: rgba(211, 101, 128,.7);}
.bg-light-2{background-color: rgba(128, 175, 175, .45);}
									
									.pro-title-2{
										width: 20%;
									}
									@media all and (min-width: 0px) and (max-width: 600px){
										.pro-title-2{
											width: 30%;
										}
										.mb-1-rz{margin-bottom: 1em;}
									}
									.ball2-t{
										position: absolute;
										left: -42%;
										top: -5%;
										z-index: -1;
									}
									.ball1-t{
										position: absolute;
										top: -82%;
										right: -42%;
										z-index: -1;
									}
									.ball3-t{
										position: absolute;
										top: -67%;
										left: -47%;
										z-index: -1;
									}
									.ball1-t2{
										z-index: -1;
										position: absolute;
										top: -31%;
										right: -48%;
									}
									.ball1-t3{
										z-index: -1;
										position: absolute;
										top: -68%;
										left: -47%;
									}
									.square3{
										height: 100px;
										position: absolute;
										top: 50%;
										left: 0;
										right: 0;
										margin: auto;
										z-index: -1;
									}
									.square2{
										height: 100px;
										position: absolute;
										bottom: 27%;
										right: -3%;
										z-index: -1;
									}
									.square1{
										height: 100px;
										position: absolute;
										top: -61%;
										left: 34%;
										z-index: -1;
									}
									.a-text{
										position: absolute;
										z-index: -1;
										left: -12%;
										bottom: 8%;
										height: 200px;
									}
									.mitika-text{
										font-family: 'Autografy';
										font-size: 11em;
										/* position: absolute; */
										/* top: -191%; */
										/* left: 53%; */
										color: rgba(128, 175, 175,.3);
										z-index: -1;
										text-align: center;
										margin: 0;
									}
									.hr-2{
										border: 2px solid #80AFAF;
										width: 222px;
										margin: initial;
										position: absolute;
										top: 50%;
										right: 0;
									}
									.hr-3{
										border: 2px solid #D7854C;
										width: 110px;
										margin: initial;
										position: absolute;
										top: 50%;
									}
									.hr4{
										border: 2px solid #D36580;
										width: 279px;
										margin: initial;
										position: absolute;
										top: 50%;
										right: 0;
									}
									.hr5{
										border: 2px solid #80AFAF;
										width: 50%;
										margin: initial;
										position: absolute;
										top: 50%;
										right: 0;
									}
									.hr6{
										border: 2px solid #D7854C;
										width: 42%;
										margin: initial;
										position: absolute;
										top: 40%;
										right: -43%;
									}
									
									.cabos-text{
										font-family: 'Autografy';
										font-size: 11em;
										color: rgba(215, 133, 76,.2);
										text-align: left;
										margin: 0 1em;
									}
									.img-cabos{
										height: 150px;
										position: absolute;
										bottom: 19%;
										right: 0;
										z-index: -1;
									}
									.square4{
										position: absolute;
										top: 50%;
										left: 0;
										right: 0;
										margin: auto;
										z-index: -1;
									}
									.square5{
										height: 100px;
										position: absolute;
										top: -23%;
										right: 10%;
										z-index: -1;
									}
									.square6{
										height: 100px;
										position: absolute;
										left: 10%;
										bottom: 79%;
										z-index: -1;
									}
									.square7{
										height: 100px;
										position: absolute;
										left: 51%;
										bottom: -24%;
										z-index: -1;
									
									}
									.square8{
										height: 100px;
										position: absolute;
										left: 23%;
										bottom: -31%;
										z-index: -1;
									}
									.square9{
										height: 100px;
										position: absolute;
										left: 36%;
										bottom: -24%;
										z-index: -1;
									}
									.square10{
										height: 100px;
										position: absolute;
										left: 17%;
										bottom: -24%;
										z-index: -1;
									}
									.square11{
										width: 100px;
										position: absolute;
										right: 0%;
										bottom: 3%;
										z-index: -1;
									}
									
									.hub-text{
										font-family: 'Autografy';
										font-size: 11em;
										color: rgba(211, 101, 128, .2);
										text-align: right;
										margin: 0 2em;
									}
									.bella1-text{
										font-family: 'Autografy';
										font-size: 11em;
										color: rgba(128, 175, 175,.3);
										z-index: -1;
										text-align: left;
										margin: 0;
										line-height: 130px;
									}
									.bella2-text{
										font-family: 'Autografy';
										font-size: 11em;
										color: rgba(128, 175, 175,.3);
										z-index: -1;
										text-align: left;
										margin: 0 1em;
										line-height: 50px;
									}
									.bootsy-text{
										font-family: 'Autografy';
										font-size: 11em;
										color: rgba(215, 133, 76,.2);
										z-index: -1;
										margin: 0 1em;
										line-height: 50px;
										position: absolute;
										top: 21%;
										right: -18%;
									}
									.img-bootsy{
										width: 50%;
										height: 150px;
										position: absolute;
										bottom: 14%;
										left: 6%;
										z-index: -1;
										object-fit: cover;
									}
									@media all and (min-width: 0px) and (max-width: 600px){
										.pro-title-2{
											width: 30%;
										}
										.hr-2{top: 77%;}
										.hr4{width: 120px;}
										.hr6{width: 60%;}
										.cabos-text{line-height: 150px;}
										.hub-text{margin: 0 .1em;text-align:center;}
										.bella1-text{line-height: 205px;}
										.mb-2-rz{margin-bottom: 2em;}
										.mb-4-rz{margin-bottom:4em}
										.flex-sm{display: flex; align-items: center;}
										.mt-200-rz{margin-top: 200px;}
										.img-bootsy{
											width: 90%;
											bottom: 14%;
											left: 6%;
											z-index: -1;
											object-fit: cover;
											margin-bottom: 1em;
										}
									}
								